/* .title::before{ 
    content: "";
    left:50%;
    bottom:-10px;
    position:absolute;
    transform: translateX(-50%);
    width:60px;
    height: 4px;
    background-color:#fff
    
} */

*
{
    scroll-behavior: smooth;
}

/* ----------------------------------siedebar -------------------------------------- */
.toggle{
    background: #000 url(../utils/images/menu.png);
    background-size : 30px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .toggle.active{
    background: #000 url(../utils/images/close.png);
    background-size : 30px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .sidebar.active{
    right:0
    }


#sidebarID li a:before{ 
    content:attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    -webkit-text-stroke:1px #eee;
    transform:translateX(0);
    transition:0.5s;
}

#sidebarID li a:hover:before{ 
    
    transform:translateX(100%);
    opacity:0
}
#sidebarID li a:after{ 
    content:attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color:#00bcd4;
    padding: 0 10px;
    -webkit-text-stroke:1px #eee;
    transform:translateX(-100%);
    transition:0.5s;
    opacity:0;
}

#sidebarID li a:hover:after{ 
    
    transform:translateX(0);
    opacity:1
}




.expBox:hover img{
    filter:invert(1)
}
.expBox:hover p{
    color:#fff
}
.expBox:hover h2{
    color:#fff
}


/* ----------------------------------card -------------------------------- */

.card:hover .cardImageBox{
    width:150px;
    height:150px;
    left:-75px;
    top:calc(50% - 75px);
    transition:0.5s ease-in-out;
    background-color:#00bcd4
} 
.cardImageBox:before{
    content:attr(data-card);
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    
    text-align:center;
    font-size:6em;
    color:rgba(255,255,255,0.05);
    font-weight:700
}
.card:hover .icon {
    max-width: 75px ;
    max-height: 75px ;
}
.test{
    width:calc(100% - 75px)
}
